numpy
scipy
pandas
matplotlib
scikit-learn
tensorflow
tensorflow-lite
pyserial

# setup lib - common: pip install -e ".[dl]" --break-system-packages
# python -c "from common import io_utils" --> rieng tung file